body {
  /* background-color: lightgrey; */
  color: #191919;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}

.green-btn {
  display: inline-block;
  padding: 11px 37px;
  border-radius: 100px;
  font-size: 12px;
  color: white;
  background-color: #00c974;
  transition: 0.3s;
}

.green-btn:hover {
  color: white;
  background-color: grey;
}

@media only screen and (min-width: 992px) {
  .green-btn {
    padding: 17px 56px;
    font-size: 19px;
  }
}

/* Navbar */

.navbar {
  padding: 20px 3vw;
  background-color: white;
}

.navbar-brand {
  margin-right: 0;
  font-size: 22px;
  color: #191919;
  transition: 0.3s;
}

.navbar-brand:hover {
  color: #00c974;
}

.nav-item {
  padding: 0 13px;
}

.nav-link {
  display: inline-block;
  padding: 8px 0;
  font-size: 13px;
  color: #191919;
  transition: 0.3s;
}

.nav-link:hover {
  color: #00c974;
}

.nav-btn {
  padding: 10px 14px;
  border-radius: 100px;
  margin-left: 1vw;
  margin-right: 1.5vw;
  font-size: 13px;
  color: white;
  background-color: #00c974;
  transition: 0.3s;
}

.nav-btn:hover {
  color: white;
  background-color: grey;
}

.lang-dropdown {
  padding: 8px 10px;
}

.dropdown-toggle {
  padding: 0;
  border: none;
  background-color: transparent;
}

.dropdown-toggle:focus {
  border: none;
  outline: none;
}

.dropdown-toggle::after {
  margin-left: 0;
}

.global-icon {
  width: 28px;
}

.dropdown-item {
  font-size: 13px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler:focus {
  border: none;
  outline: none;
}

.toggler-icon {
  width: 30px;
  margin-top: 5px;
}

@media only screen and (min-width: 1200px) {
  .navbar {
    padding: 32px 10px;
  }
  .navbar-brand {
    margin-right: 42px;
    font-size: 31px;
  }
  .nav-link {
    padding: 8px 16px;
    font-size: 19px;
  }
  .navbar-right {
    position: absolute;
    right: 11.5vw;
  }
  .nav-btn {
    padding: 17px 20px 20px;
    margin-left: 26px;
    margin-right: 16px;
    font-size: 19px;
  }
  .lang-dropdown {
    padding: 0;
  }
  .dropdown-item {
    font-size: 16px;
  }
}

/* Home Hero Section */

.home-hero {
  margin-top: 85px;
  padding: 0 15px;
}

.hero-left {
  position: relative;
}

.hero-back {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -18vw;
  width: 112vw;
}

.hero-content {
  margin-top: 16vw;
  margin-left: 6vw;
}

.hero-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.hero-detail {
  margin-top: 23px;
  margin-bottom: 36px;
  font-size: 12px;
}

.hero-img {
  display: block;
  width: 98%;
  max-width: 480px;
  margin: 25px auto;
}

@media only screen and (min-width: 992px) {
  .home-hero {
    margin-top: 120px;
    padding: 0 30px;
  }
  .hero-back {
    left: 0;
    width: 95%;
  }
  .hero-content {
    margin-top: 9.6vw;
    margin-left: 10.4vw;
  }
  .hero-title {
    font-size: 5.2vw;
  }
  .hero-detail {
    margin-top: 23px;
    margin-bottom: 58px;
    font-size: 19px;
  }
  .hero-img {
    width: 98%;
    margin-top: 25px;
  }
}